:root {
  --green-one: #334b35;
  --yellow-one: #f9af16;
  --white-one: #f6eee1;
  --orange-one: #ff5f31;
  --black-one: #141008;
  --outline-font: "Londrina Outline", sans-serif;
  --solid-font: "Londrina Solid", sans-serif;
  --simple-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.website-container {
  overflow: hidden;
}

.website-container#blur.active {
  filter: blur(15px);
  pointer-events: none;
  user-select: none;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: var(--green-one);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  overflow: hidden;
}

.nav-logo {
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  margin: 5px;
}

#logo-symbol {
  margin: 0 2px;
  color: var(--orange-one);
  font-size: 1.7rem;
}

#logo-name {
  margin: 0 5px;
  color: var(--white-one);
  font-size: 1.7rem;
  font-family: var(--solid-font);
}

.nav-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.nav-about,
.nav-resume,
.nav-project,
.nav-home {
  height: 60px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-contact {
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  margin: 5px;
}

#about-text {
  padding: 0.5rem;
  color: var(--white-one);
  font-size: 1rem;
  font-family: var(--simple-font);
  border-radius: 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

#about-text:hover {
  background-color: var(--white-one);
  color: var(--black-one);
}

#contact {
  margin: 5px;
}

#contact-text {
  padding: 0.5rem;
  background-color: var(--yellow-one);
  color: var(--black-one);
  font-size: 1rem;
  font-family: var(--simple-font);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

#contact-text:hover {
  font-weight: 600;
  padding: 0.7rem;
}

/* pages */
.page-one {
  position: relative;
  height: 65vh;
  width: 100%;
  background-color: var(--green-one);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  height: 75vh;
  width: 90%;
  /* border: 2px solid white; */
  top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  position: absolute;
  height: 65vh;
  width: 32%;
  bottom: 0;
  left: calc(95% - 80%);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#star-one,
#star-two,
#star-three,
#star-four,
#star-five,
#star-six,
#star-seven,
#star-eight,
#star-nine {
  position: absolute;
  color: var(--yellow-one);
  z-index: 6;
}

#star-one {
  font-size: 3rem;
  left: 180px;
  top: 100px;
  transform: rotate(45deg);
}

#star-two {
  font-size: 2rem;
  left: 160px;
  top: 150px;
  transform: rotate(10deg);
}

#star-three {
  font-size: 1rem;
  top: calc(75vh + 1px);
  left: 640px;
  transform: rotate(10deg);
}

.text-container1 {
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  z-index: 2;
  /* border: 2px solid white; */
}

.solid-text {
  height: calc(65vh / 4);
  width: 100%;
}

.solid-text p {
  height: 100%;
  width: 100%;
  font-family: var(--solid-font);
  color: var(--white-one);
  font-size: 6.5rem;
  text-align: center;
  letter-spacing: 18px;
  font-weight: 700;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.text-container2 {
  position: absolute;
  height: auto;
  width: auto;
  top: calc(65vh / 4);
  z-index: 1;
  /* border: 2px solid white; */
}

.outline-text {
  height: 48.4vh;
  width: 100%;
}

.outline-text p {
  width: 100%;
  font-family: var(--outline-font);
  color: var(--yellow-one);
  font-size: 6.5rem;
  text-align: center;
  letter-spacing: 18px;
  font-weight: 700;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.about-container {
  position: absolute;
  height: 10vh;
  width: 40%;
  /* border: 2px solid white; */
  left: 0;
  bottom: 1.5rem;
  z-index: 3;
  overflow: hidden;
}

.about-container p {
  display: inline-block;
  font-family: var(--simple-font);
  color: var(--white-one);
  font-size: 0.77rem;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000000;
}

/* for the fullstop pipe */
.blinking-cursor {
  margin-left: 5px;
  background-color: var(--yellow-one);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}

.page-two {
  position: relative;
  height: 30vh;
  width: 100%;
  background-color: var(--black-one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-msg {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: var(--yellow-one);
  top: 23vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-msg p {
  padding: 1rem;
  color: var(--green-one);
  font-family: var(--simple-font);
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.page-three {
  height: 85vh;
  width: 100%;
  background-color: var(--white-one);
  /* z-index: -1; */
}

.three-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 100%;
}

.intro-container {
  height: 80%;
  width: 30%;
  /* border: 2px solid black; */
  margin-top: 100px;
}

.hello-container {
  height: 40%;
  width: 100%;
  overflow: hidden;
}

.hello-container h1 {
  height: 40%;
  width: 100%;
  font-family: var(--solid-font);
  color: var(--black-one);
  font-size: 5rem;
  letter-spacing: 5px;
}

.intro-msg {
  height: 37%;
  width: 100%;
  overflow: hidden;
}

.intro-msg p {
  padding: 1.3rem 0;
  font-family: var(--simple-font);
  color: var(--green-one);
  font-weight: 500;
  text-align: justify;
}

.profiles-container {
  height: 20%;
  width: 100%;
}

.media-links {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-one);
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 8px;
  border-radius: 50%;
  background-color: var(--orange-one);
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.links i {
  cursor: pointer;
}

.img-container {
  height: 85%;
  width: 27%;
  /* border: 2px solid black; */
  margin-top: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.pic-container {
  height: 70%;
  width: 100%;
  /* border: 2px solid black; */
}

.pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contact-container {
  height: 30%;
  width: 100%;
  /* border: 2px solid black; */
  background-color: var(--black-one);
  color: var(--white-one);
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-container h1 {
  font-family: var(--solid-font);
  font-size: 2.5rem;
  padding: 0.1rem 0.2rem 0.2rem 0.1rem;
  letter-spacing: 2px;
  margin-left: 70px;
}

.contact-container p {
  font-family: var(--simple-font);
  font-size: 0.8rem;
  padding: 2px;
  margin-left: 70px;
}

.contact-container p i {
  margin-right: 10px;
}

.info-container1,
.info-container2 {
  position: absolute;
  background-color: var(--yellow-one);
  z-index: 2;
  padding: 0.8rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-family: var(--simple-font);
  letter-spacing: 1.5px;
  color: var(--black-one);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-container1 {
  left: -80px;
  top: 80px;
}

.info-container2 {
  right: -40px;
  top: 260px;
}

.page-four {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: var(--green-one);
}

.education-container {
  position: absolute;
  height: 52%;
  width: 35%;
  /* border: 2px solid black; */
  top: 18%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-container {
  height: 30%;
  width: 100%;
  /* border: 2px solid black; */
}

.heading-container p {
  height: 100%;
  width: 100%;
  font-family: var(--solid-font);
  color: var(--yellow-one);
  font-size: 4.6rem;
  padding-left: 25px;
  padding-top: 2px;
  letter-spacing: 2px;
}

.actual-container {
  height: calc(100% - 30%);
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.year-container {
  height: 100%;
  width: 30%;
  /* border: 2px solid black; */
}

.year-container h4 {
  height: calc(100% / 3);
  width: 100%;
  font-family: var(--solid-font);
  color: var(--white-one);
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 5px;
}

.year-container h4 i {
  margin-right: 2px;
  color: var(--orange-one);
}

.place-container {
  height: 100%;
  width: calc(100% - 30%);
  /* border: 2px solid black; */
}

.place-container p {
  height: calc(100% / 3);
  width: 100%;
  font-family: var(--simple-font);
  color: var(--white-one);
  font-size: 0.9rem;
  margin-top: 3px;
  padding-left: 3px;
  opacity: 0.7;
}

.experience-container {
  position: absolute;
  height: 40%;
  width: 35%;
  /* border: 2px solid black; */
  top: 87%;
  left: 10%;
  z-index: 1;
  background-color: var(--yellow-one);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-container {
  height: 30%;
  width: 100%;
  /* border: 2px solid black; */
}

.title-container p {
  height: 100%;
  width: 100%;
  font-family: var(--solid-font);
  color: var(--green-one);
  font-size: 3.9rem;
  padding-left: 25px;
  padding-top: 20px;
  letter-spacing: 2px;
}

.info-container {
  height: calc(100% - 30%);
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.duration-container {
  height: 100%;
  width: 30%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.duration-container h4 {
  height: calc(100% / 3);
  width: 100%;
  font-family: var(--solid-font);
  color: var(--green-one);
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 7px;
}

.duration-container h4 i {
  margin-right: 2px;
  color: var(--white-one);
}

.location-container {
  height: 100%;
  width: calc(100% - 30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-container p {
  height: calc(100% / 3);
  width: 100%;
  font-family: var(--simple-font);
  color: var(--green-one);
  font-size: 0.9rem;
  margin-top: 3px;
  padding-left: 3px;
  font-weight: 500;
}

.text-container {
  position: absolute;
  height: 60%;
  width: 35%;
  /* border: 2px solid black; */
  right: 10%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-container h1 {
  font-family: var(--outline-font);
  color: var(--yellow-one);
  font-size: 5rem;
  letter-spacing: 55px;
  margin-left: 3rem;
}

.skills-container {
  position: absolute;
  height: 50%;
  width: 35%;
  /* border: 2px solid black; */
  right: 8%;
  top: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--orange-one);
  z-index: 4;
}

.head {
  height: 26%;
  width: 100%;
  /* border: 2px solid black; */
  text-align: center;
}

.head p {
  height: 100%;
  width: 100%;
  font-family: var(--solid-font);
  color: var(--black-one);
  font-size: 4rem;
  letter-spacing: 3px;
  padding: 1rem;
  margin-top: 0.5rem;
}

.skills {
  height: calc(100% - 30%);
  width: 100%;
  margin-top: 1rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skills ul {
  list-style-position: inside;
  margin: 3rem;
  list-style: none;
}

.skills ul li {
  font-family: var(--simple-font);
  color: var(--black-one);
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--white-one);
  padding: 0.5rem;
  margin: 0.6rem;
  border-radius: 1rem;
  text-align: center;
}

.page-five {
  position: relative;
  height: 96vh;
  width: 100%;
  background-color: var(--white-one);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}

.project-container {
  height: 52%;
  width: 70%;
  margin-top: 23%;
  background-color: var(--black-one);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
  height: 30%;
  width: 100%;
  text-align: center;
  color: var(--yellow-one);
  font-family: var(--outline-font);
  font-size: 3.7rem;
  font-weight: 700;
  letter-spacing: 8px;
  padding: 18px;
}

.projects-container {
  height: 70%;
  width: 100%;
  position: relative;
  /* display: flex; */
}

.projects-container i {
  height: 35px;
  width: 30px;
  text-align: center;
  background-color: var(--yellow-one);
  line-height: 35px;
  border-radius: 5px;
  color: var(--green-one);
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
  z-index: 7;
}

.projects-container i:first-child {
  left: -15px;
}

.projects-container i:last-child {
  right: -15px;
}

.projects {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: hidden;
  scroll-behavior: smooth;
}

.projects.no-transition {
  scroll-behavior: auto;
}

.projects.dragging .project {
  cursor: grab;
  user-select: none;
}

.projects.dragging {
  scroll-behavior: auto;
}

.project {
  height: 200px;
  width: 200px;
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 5px 5px var(--white-one);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--yellow-one);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.overlay a {
  text-decoration: none;
  color: var(--green-one);
  cursor: pointer;
}

.overlay span {
  font-size: 0.6rem;
}

.project:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--simple-font);
  font-weight: 600;
}

#star-four {
  font-size: 3rem;
  left: 190px;
  top: 46%;
  transform: rotate(45deg);
}

#star-five {
  font-size: 2rem;
  left: 185px;
  top: 54%;
  transform: rotate(70deg);
}

#star-six {
  font-size: 1.5rem;
  right: 210px;
  bottom: -20px;
  transform: rotate(18deg);
}

#popup-form {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 30%;
  background-color: var(--yellow-one);
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
  transition: 0.5s;
  border-radius: 0.8rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.contact-form h1 {
  font-family: var(--solid-font);
  color: var(--green-one);
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px #0000006c;
}

.contact-inputs {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  font-family: var(--simple-font);
  color: var(--black-one);
  border-radius: 1.5rem;
}

.contact-inputs:focus {
  border: 2px solid var(--orange-one);
}

.contact-inputs::placeholder {
  color: var(--black-one);
  opacity: 0.6;
}

.contact-form textarea {
  height: 65px;
  padding-top: 1rem;
  border-radius: 20px;
}

.btns {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btns #send-text,
#close-popup-text {
  border: none;
  padding: 8px 18px;
  border-radius: 1rem;
  font-family: var(--solid-font);
  letter-spacing: 1px;
  color: var(--green-one);
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btns #send-text {
  background-color: var(--orange-one);
}

.btns #send-text:hover {
  background-color: var(--green-one);
  color: var(--white-one);
}

.btns #close-popup-text {
  background-color: var(--orange-one);
}

.btns #close-popup-text:hover {
  background-color: #e1481d;
  color: var(--black-one);
}

#star-seven {
  font-size: 2rem;
  top: 1px;
  left: -22px;
  color: var(--orange-one);
  transform: rotate(45deg);
}

#star-eight {
  font-size: 1rem;
  top: 40px;
  left: -23px;
  color: var(--green-one);
  transform: rotate(65deg);
}

#star-nine {
  font-size: 1.3rem;
  bottom: -10px;
  right: -14px;
  color: var(--white-one);
  transform: rotate(30deg);
}

#popup-form.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.footer {
  height: 15vh;
  width: 100%;
  background-color: var(--white-one);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer p {
  font-family: var(--simple-font);
  color: var(--green-one);
  font-size: 0.8rem;
  margin-top: 3rem;
}

header #icon1,
#icon2 {
  display: none;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .nav-logo {
    height: 20px;
    width: 200px;
  }

  #logo-symbol {
    font-size: 1.4rem;
  }

  #logo-name {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  .nav-detail {
    position: fixed;
    background-color: var(--white-one);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 70px;
  }

  #about-text {
    color: var(--green-one);
    font-size: 1rem;
    font-weight: 500;
  }

  #contact-text {
    font-size: 1rem;
  }

  header #icon1,
  #icon2 {
    display: block;
    color: var(--orange-one);
    margin: 10px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  header #icon2 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
  }

  .page-one {
    height: 58vh;
  }

  .photo-container {
    height: 47vh;
    width: 90%;
    bottom: 23%;
    left: 5%;
  }

  .text-container1 {
    top: 9%;
    left: -0.5%;
  }

  .text-container2 {
    top: 17%;
    left: -0.5%;
  }

  .solid-text p,
  .outline-text p {
    font-size: 3rem;
  }

  .about-container {
    height: 14vh;
    width: 95%;
    left: 2%;
    bottom: 1rem;
  }

  .about-container p {
    text-align: justify;
    font-size: 0.8rem;
  }

  #star-one {
    font-size: 2rem;
    left: 4px;
    top: 370px;
  }

  #star-two {
    font-size: 1rem;
    left: 3px;
    top: 410px;
  }

  #star-three {
    font-size: 1rem;
    left: 338px;
    top: 475px;
  }

  .scroll-msg {
    height: 84px;
    width: 84px;
    top: 25vh;
  }

  .scroll-msg p {
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .page-three {
    height: 120vh;
  }

  .three-container {
    flex-direction: column;
    height: 100vh;
  }

  .intro-container {
    height: 80%;
    width: 80%;
    margin-top: 30%;
  }

  .hello-container {
    height: 30%;
  }

  .hello-container h1 {
    height: 100%;
    font-size: 2.6rem;
    letter-spacing: 4px;
    margin-bottom: 0;
  }

  .intro-msg {
    height: 47%;
    margin-top: 5px;
  }

  .intro-msg p {
    height: 100%;
    font-size: 0.9rem;
  }

  .profiles-container {
    display: flex;
    align-items: start;
    height: 15%;
    padding: 5px;
    margin-top: 10px;
  }

  .links {
    font-size: 0.9rem;
    height: 2.3rem;
    width: 2.3rem;
  }

  .img-container {
    top: -290px;
    height: 50%;
    width: 80%;
    position: relative;
  }

  .contact-container h1 {
    font-size: 2rem;
    padding: 0.1rem 0.2rem 0.2rem 0.1rem;
    margin-left: 90px;
  }

  .contact-container p {
    font-size: 0.8rem;
    margin-left: 55px;
  }

  .contact-container p i {
    margin-right: 10px;
  }

  .info-container1,
  .info-container2 {
    font-size: 0.7rem;
  }

  .info-container1 {
    left: -37px;
    top: 52px;
  }

  .info-container2 {
    right: -35px;
    top: 243px;
  }

  .page-four {
    height: 95vh;
    width: 100%;
  }

  .education-container {
    height: 50%;
    width: 90%;
    top: 15%;
    left: 7%;
  }

  .heading-container {
    height: 20%;
    width: 80%;
  }

  .heading-container p {
    font-size: 3.5rem;
  }

  .actual-container {
    height: calc(100% - 20%);
    width: 100%;
  }

  .year-container {
    width: 25%;
  }

  .year-container h4 {
    font-size: 1.2rem;
    padding-top: 5px;
  }

  .place-container {
    width: calc(100% - 25%);
    padding-left: 7px;
    padding-right: 7px;
  }

  .place-container p {
    font-size: 0.9rem;
  }

  .experience-container {
    height: 30%;
    width: 90%;
    top: 72%;
    left: 5%;
  }

  .title-container {
    height: 20%;
  }

  .title-container p {
    height: 100%;
    font-size: 3rem;
    padding-left: 60px;
  }

  .info-container {
    height: calc(100% - 20%);
    margin-top: 11px;
  }

  .duration-container {
    width: 20%;
  }

  .duration-container h4 {
    font-size: 1rem;
  }

  .duration-container h4 i {
    margin-right: 0;
    margin-left: 5px;
  }

  .location-container {
    width: calc(100% - 20%);
  }

  .location-container p {
    padding-left: 10px;
    font-size: 1rem;
  }

  .text-container {
    width: 90%;
    left: 4%;
    bottom: 79%;
  }

  .text-container h1 {
    font-size: 3.3rem;
    letter-spacing: 40px;
    margin-left: 3rem;
  }

  .skills-container {
    height: 35%;
    width: 87%;
    right: 7%;
    top: 110%;
  }

  .head {
    height: 20%;
  }

  .head p {
    height: 100%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-top: 20px;
  }

  .skills {
    height: calc(100% - 20%);
    margin-top: -2px;
  }

  .skills ul {
    margin: 0.8rem;
  }

  .skills ul li {
    font-size: 0.9rem;
  }

  .page-five {
    height: 100vh;
  }

  .project-container {
    height: 42%;
    width: 87%;
    margin-top: 104%;
  }

  .header-container {
    font-size: 3rem;
  }

  #star-four {
    font-size: 2rem;
    left: 16px;
    top: 54%;
  }

  #star-five {
    font-size: 1rem;
    left: 15px;
    top: 59%;
    transform: rotate(95deg);
  }

  #star-six {
    font-size: 1.5rem;
    right: 10px;
    bottom: 30px;
  }

  .footer p {
    font-size: 0.9rem;
  }

  #popup-form {
    width: 86%;
    height: 40%;
  }
}
